* {
  box-sizing: border-box;
  color: #E5E5E5;
}

body {
  /* background: url('http://placehold.it/1920x1080') no-repeat center center fixed; */
  background: url('images/losangeles.jpeg') no-repeat center center fixed;
  background-color: #A9A9A9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

section {
  padding-bottom: 80px;
}

#map {
 height: 400px;
 top: 20px;
}

#hist_stats {
  height: 250px;
  padding-top: 20px;
}

#no_data{
  text-align: center;
  color: #E5E5E5;
  font-size: 30px;
  display: none;
}

#summary1{
  text-align: center;
  color: 'dodgerblue';
  font-size: 30px;
}
#summary2{
  text-align: center;
  color: 'purple';
  font-size: 30px;
}
#summary3{
  text-align: center;
  color: 'gold';
  font-size: 30px;
}

.navbar{
  display: none;
}

.controls {
   background-color: #fff;
   border-radius: 10px;
   border: 1px solid black;
   box-shadow: 0 2px 6px rgba(0,0,255,0.3);
   box-sizing: border-box;
   color: #3498DB;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   height: 29px;
   margin: 0 auto;
   outline: none;
   padding: 0 11px 0 13px;
   text-overflow: ellipsis;
   /* width: 400px; */
 }

 .controls:focus {
   /*border-color: #E5E5E5;*/
   border-width: thin;
   color: #3498DB;
   font-weight: 400;
 }
