* {
  box-sizing: border-box;
}

body {
  background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

section {
  padding-bottom: 80px;
}

#map {
 height: 400px;
 width: 100%;
 top: 20px;
}

.controls {
   background-color: #fff;
   border-radius: 2px;
   border: 1px solid black;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   box-sizing: border-box;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   height: 29px;
   margin: 0 auto;
   outline: none;
   padding: 0 11px 0 13px;
   text-overflow: ellipsis;
   width: 400px;
 }

 .controls:focus {
   border-color: #4d90fe;
 }
